@charset "utf-8";
/*
 * Project: 切换测试账号
 * Comments: 切换账号浮层的样式
 * @author: tysonpan
*/

.switch_user_win{position:fixed;_position:absolute;right:50px;top:50px;width:270px;background:#fff;color:#333;box-shadow: 0 0 8px #333;border: #ddd 1px solid\9;z-index: 999;font-size: 12px}
.switch_user_win a{cursor: pointer;color: #333}
.switch_user_win a:hover{color: #333}
.switch_user_win .switch_user_win_hd{height: 30px;border-bottom: #CECECE 1px solid;position: relative;}
.switch_user_win .switch_user_win_hd .tab{float: left;height: 30px;line-height:30px;padding: 0 10px;background-color: #f5f5f5}
.switch_user_win .switch_user_win_hd .tab:hover{}
.switch_user_win .switch_user_win_hd .current{cursor: default;background-color: #777;color: #fff;text-decoration: none;}
.switch_user_win .switch_user_win_hd .switcher_close_button{position: absolute;right:10px;top:10px;background-image: url(img/ico_close.png);display: block;width: 9px;height: 9px;cursor: pointer;font-size: 0}

.switch_user_win .switch_user_win_bd .switcher_message{border: #ddd 3px dashed;border-radius: 8px;margin: 20px 15px;padding: 20px 10px;text-align: center;color:#888;line-height: 1.6em}
.switch_user_win .switch_user_win_bd .switcher_message .switcher_verify_input{vertical-align: middle;}
.switch_user_win .switch_user_win_bd .switcher_message .switcher_verify_input img{vertical-align: middle;display: inline-block;cursor: pointer}
.switch_user_win .switch_user_win_bd .switcher_message .switcher_verify_input input{vertical-align: middle;display: inline-block;margin-left: 10px;width:40px;border:#aaa 1px solid}
.switch_user_win .switch_user_win_bd .warning{color: red}

.switch_user_win .switch_user_win_bd .public_users_tab{height: 22px;border-bottom:#CECECE 1px solid;position: relative;}
.switch_user_win .switch_user_win_bd .public_users_tab_inner{position: absolute;height: 23px;width: 250px;top:0;left: 15px}
.switch_user_win .switch_user_win_bd .public_users_tab_inner a{float: left;text-decoration: none;padding: 0 6px;cursor: pointer;display: inline;margin-right: 7px;background-color:#EAEAEA;color: #999;border-top: #fff 1px solid;border-bottom: #CECECE 1px solid;line-height: 21px;height: 21px;zoom:1}
.switch_user_win .switch_user_win_bd .public_users_tab_inner a.current{cursor: default;border:#CECECE 1px solid;border-bottom-color: #fff;background-color: #fff;color: #333}

.switch_user_win .switch_user_win_bd .users_list_container{margin: 10px 15px;text-align: left}
.switch_user_win .switch_user_win_bd .user_nums *{line-height: 2.3em}
.switch_user_win .switch_user_win_bd .num_link{display: block;text-decoration: none;padding:0 5px;zoom:1;position: relative;}
.switch_user_win .switch_user_win_bd .num_link:hover{background-color: #EAEAEA;}
.switch_user_win .switch_user_win_bd .num_link .num_info{font-weight: bold;margin-right: 10px;display: inline-block;width:110px;padding-left: 3px}
.switch_user_win .switch_user_win_bd .num_link .num{display: inline-block;width:90px}
.switch_user_win .switch_user_win_bd .num_link .delete_num{font-style: normal;display: none;position: absolute;right: 15px;}
.switch_user_win .switch_user_win_bd .num_link .delete_num:hover{text-decoration: underline}
.switch_user_win .switch_user_win_bd .num_link:hover .delete_num{display: inline;}

.switch_user_win .switch_user_win_bd .copyright{background-color: #EAEAEA;border-top: #CECECE 1px solid;padding:8px;text-align: center;color:#888}

.switch_user_win .switch_user_win_bd .add_num{background-color: #EAEAEA;border-top: #CECECE 1px solid;padding:10px 20px;text-align: left}
.switch_user_win .switch_user_win_bd .add_num h5{font-weight: normal}
.switch_user_win .switch_user_win_bd .private_user_form{line-height: 2.5em;padding-top: 10px;}
.switch_user_win .switch_user_win_bd .private_user_form h5{font-weight: bold;}
.switch_user_win .switch_user_win_bd .private_user_form p{margin-bottom: 10px}
.switch_user_win .switch_user_win_bd .private_user_form label{display: inline-block;width: 50px;line-height: 20px}
.switch_user_win .switch_user_win_bd .private_user_form input{display: inline-block;width: 130px;height: 20px;background-color: #fff;border:#aaa 1px solid}
.switch_user_win .switch_user_win_bd .private_user_form .add_num_btn{display: block;line-height: 20px;color: #333;width: 100px;text-decoration: none;margin-top: 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #A2A2A2;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
.switch_user_win .switch_user_win_bd .add_num .add_num_btn:hover{color: #333;text-decoration: none; background-color: #E6E6E6;background-position: 0 -15px;}

#login_iframe,#statistics_iframe{width: 0;height: 0;position: absolute;left:-1000px;top:0}
/*#login_iframe,#statistics_iframe{width: 500px;height: 500px;position: absolute;left: 0;top:0;z-index: 999}*/
#statistics_iframe{z-index: -9}